@font-face {
  font-family: 'scriptless-socialbuttons';
  src:
    url('fonts/scriptless-socialbuttons.ttf?lmxrfp') format('truetype'),
    url('fonts/scriptless-socialbuttons.woff?lmxrfp') format('woff'),
    url('fonts/scriptless-socialbuttons.svg?lmxrfp#scriptless-socialbuttons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sharingicon-"], [class*=" sharingicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scriptless-socialbuttons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sharingicon-stack:before {
  content: "\e900";
}
.sharingicon-evernote:before {
  content: "\e901";
}
.sharingicon-envelope-o:before {
  content: "\f003";
}
.sharingicon-pencil:before {
  content: "\f040";
}
.sharingicon-facebook:before {
  content: "\f09a";
}
.sharingicon-facebook-f:before {
  content: "\f09a";
}
.sharingicon-linkedin:before {
  content: "\f0e1";
}
.sharingicon-xing:before {
  content: "\f168";
}
.sharingicon-tumblr:before {
  content: "\f173";
}
.sharingicon-wordpress:before {
  content: "\f19a";
}
.sharingicon-stumbleupon:before {
  content: "\f1a4";
}
.sharingicon-delicious:before {
  content: "\f1a5";
}
.sharingicon-digg:before {
  content: "\f1a6";
}
.sharingicon-pinterest-p:before {
  content: "\f231";
}
.sharingicon-whatsapp:before {
  content: "\f232";
}
.sharingicon-get-pocket:before {
  content: "\f265";
}
.sharingicon-reddit-alien:before {
  content: "\f281";
}
.sharingicon-x:before {
  content: "\e902";
}
.sharingicon-twitter:before {
  content: "\e902";
}

/*
* Button styles
*/

ul.scriptless_socialsharing {
	margin: 0 0 20px 0 !Important;
	padding: 0 !Important;
	min-height: 60px;
	display: block;
	clear: both;
}
ul.scriptless_socialsharing li {
	display: inline;
	margin: 0 0 0px 0;
	padding: 0;
	min-height: 20px;
}

ul.scriptless_socialsharing a {
  padding: 0.4em 0.6em 0.6em 0.6em;
  margin: 5px 5px 5px 5px;
  display:block;
  color: white;
  background: blue;
	min-width: 12px;
  min-height: auto;
  float: left;
  font-size: 1em;
	text-align: center;
}

ul.scriptless_socialsharing a:before {
	margin: 5px 0px 0 0px !important;
	position: relative;
	top: 1px;
}

ul.scriptless_socialsharing li a:before{
	font-weight: 300;
}

ul.scriptless_socialsharing a.sharingicon-facebook-f {
  background: #3B5998;
}

ul.scriptless_socialsharing a.sharingicon-x {
  background: #55acee;
}

ul.scriptless_socialsharing a.sharingicon-google-plus {
  background: #d34836;
}

ul.scriptless_socialsharing a.sharingicon-xing {
  background: #005b5f;
}

ul.scriptless_socialsharing a.sharingicon-pinterest-p {
  background: #cc2127;
}

ul.scriptless_socialsharing a.sharingicon-linkedin {
	background: #0177b5;
}

ul.scriptless_socialsharing a.sharingicon-reddit-alien {
	background: #55acee;
}

ul.scriptless_socialsharing a.sharingicon-stumbleupon {
	background: #d34836;
}

ul.scriptless_socialsharing a.sharingicon-tumblr {
	background: #35465c;
}

ul.scriptless_socialsharing a.sharingicon-whatsapp {
	background: #4dc247;
}

ul.scriptless_socialsharing a.sharingicon-digg {
	background: black;
}

/* livejournal */
ul.scriptless_socialsharing a.sharingicon-pencil {
	background: #55acee;
}

/* buffer */
ul.scriptless_socialsharing a.sharingicon-stack {
	background: black;
}

ul.scriptless_socialsharing a.sharingicon-delicious {
	background: #0082f9;
}

ul.scriptless_socialsharing a.sharingicon-evernote {
	background: #04B45F;
}

ul.scriptless_socialsharing a.sharingicon-wordpress {
	background: #21759b;
}

ul.scriptless_socialsharing a.sharingicon-get-pocket {
	background: #DF013A;
}

/* mail */
ul.scriptless_socialsharing a.sharingicon-envelope-o {
	background: gray;
}

ul.scriptless_socialsharing li a {
	margin-left: 3px;
	color: white !important;
}

ul.scriptless_socialsharing li a:hover,
ul.scriptless_socialsharing li a:active {
	margin-left: 3px;
	color: black !important;
}

ul.scriptless_socialsharing li:before {
  margin-right: 0px;
}

ul.scriptless_socialsharing li.hidden {
	display: none;
}