/*
-----------------------------------------------
Photo Gallery Templates: Screen Master
Author:   Douglas Bowman
The design and Movable Type templates that 
build these pages are available for anyone to 
download and use:
http://stopdesign.com/templates/photos/
----------------------------------------------- */

/* Imported Styles
----------------------------------------------- \*/
@import url("photos.css");
@import url("custom.css");
/* */

.clearall {
clear: both !important;
}
.clearleft {
clear: left !important;
}
.clearright {
clear: right !important;
}

#registration_form p,
#commentform p,
#mailform p {
clear: both;
}

#registration_form label,
#commentform label,
#mailform label {
width: 30% !important;
float: left; 
display: block;
}
#registration_form input[type="text"],
#registration_form input[type="password"],
#mailform input[type=text],
#commentform input[type=text] {
width: 65% !important;
}

input.button {
padding: 5px 8px 5px 8px!important;
margin: 5px 0 0 0;
}

#mailform textarea, 
#commentform textarea#comment {
clear: both;
width: 95% !important;
height: 150px;
}


img#captcha {
display: block;
float: left;
margin-bottom: 5px;
}
input#code {
float: left;
margin-left: 10px;
width: 10em !important;
}
#recaptcha_widget_div {
float: left;
}
.jp-video {
min-height: 410px;
}
