/*
-----------------------------------------------
Photo Gallery Templates: Screen Master
Author:   Douglas Bowman
The design and Movable Type templates that 
build these pages are available for anyone to 
download and use:
http://stopdesign.com/templates/photos/
----------------------------------------------- */

/* Imported Styles
----------------------------------------------- \*/
@import url("photos.css");
@import url("custom.css");
/* */

.clearall {
clear: both !important;
}
.clearleft {
clear: left !important;
}
.clearright {
clear: right !important;
}

#commentform label,
#mailform label {
width: 30% !important;
float: left; 
display: block;
}
#mailform input[type=text],
#commentform input[type=text] {
width: 65% !important;
}
#mailform input.captchainputbox,
#commentform input.captchainputbox {
width: 20% !important;
margin-left: 10px;
}

input.button {
padding: 5px 8px 5px 8px!important;
margin: 5px 0 0 0;
}

#commentform textarea#comment {
clear: both;
width: 65% !important;
}

#mailform textarea{
float: left !important;
width: 65% !important;
}
