
# /
/.cache
/.project
/.settings
/cache_html
/patches
/phpdoc
/release
/sandbox
/source
/sql
/temp
/tests
/zenpage

# /albums/
/albums/*

# /cache/
/cache/*

# /cache_html/
/cache_html/*

# /plugins/
/plugins/*

# /uploaded/
/uploaded/*

# /zp-data/
/zp-data/*
