/*
Login form basic styling
*/
/*
    Created on : Aug 29, 2017, 4:07:32 PM
    Author     : sbillard
*/

#loginform {
	text-align: left;
	padding: 10px;
	width: 365px;
	margin: 25px auto;
	margin-top: 15%;
	font-size: medium;
}
#loginform fieldset {
	padding:10px;
	text-align:left;
}

#loginform .show_checkbox {
	float: right;
	position:relative;
	top: 1.15em;
	left:-15px;
}

#loginform input.textfield {
	margin: 0px;
	width:270px;
	font-size: medium;
	padding: 4px;
}

#loginform .logon_form_text {
	padding: 4px;
	text-align:left;
	margin-left: 10px;
	margin-left: 5px;
}

#loginform .logon_link {
	text-align:center;
}

#loginform .button {
	padding: 5px 10px;
	font-size: medium;
}

#loginform button[type] {
	text-decoration: none;
	padding: 5px 10px 5px 7px;
	line-height: 20px;
}
