/*
Default admin toolbox css
*/
/*
    Created on : Jan 7, 2015, 9:11:28 AM
    Author     : Stephen
*/
#admin,#admin_data {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 130px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
	z-index: 1001;
	text-align: left;
	font-size: 13px;
}

#admin_data {
	top: 0px;
	padding-top: 20px;
	z-index: 1000;
	line-height: 16px;
}

#admin h3 {
	font-weight: normal;
	color: #999;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 15px;
}

#admin h3:hover {
	color: #036;
}
