/*
    Created on : May 27, 2015, 9:55:20 AM
    Author     : Stephen
*/
.themeSwitcherControlLink {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 10px;
	background-color: #f5f5f5;
	border: 1px solid darkgray;
	position: fixed;
	z-index: 90000;
	left: 0px;
	top: 0px;
	clear: both;
	text-align: left;
	width: auto;
	display: inline;
	white-space: nowrap;
	font: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	font-size: 16px !important;
	font-weight: normal !important;
	color: black !important;
}
.themeSwitcherControlLink select{
	background-color: #f5f5f5 !important;
	color: black !important;
	display: inline !important;
	font-size: 1em !important;
}
.themeSwitcherControlLink label{
	clear: both;
	display: inline !important;
	white-space: nowrap !important;
	width: auto !important;
}
.themeSwitcherMenuMain {
	position: fixed;
	z-index: 90001;
	left: 0px;
	top: 0px;
	padding-top: 5px;
	padding-left: 5px;
}
.themeSwitcherMenu {
	font-family: Free Serif, Segoe UI Symbol;
	font-size: 16px !important;
	font-weight: normal !important;
}
.themeSwitcherMenu a:hover, .themeSwitcherMenuShow a:hover, .themeSwitcherControl a:hover{
	text-decoration: none;
	cursor: pointer;
	text-decoration: none;
}
.themeSwitcherMenuShow {
	font-family: Free Serif, Segoe UI Symbol;
	font-size: 16px !important;
}
