#calendar{
	list-style: none;
	color: #C7C1C1;
}

#calendar .month{
	font-size: 115%;
}

#calendar .month a{
	color: #C7C1C1;
	text-decoration: none;
}

#calendar .month, #calendar .weekday{
	text-align: center;
	font-weight: bold;
}

#calendar .day{
	height: 120px;
}

#calendar .day a{
	display: block;
	text-align: center;
}