/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 30, 2014, 12:19:01 PM
    Author     : Stephen
*/
/*
.rewrite {
	margin:0;
	padding:0;
	border:0;
}

.rewrite_left {
	padding-left: 10px;
	padding-right: 10px;
}

.rewrite_right {
	padding-left: 2px;
	padding-right: 10px;
}
*/
.rewrite_bar {
	background: #f0f0f0;
}