/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 30, 2014, 12:19:01 PM
    Author     : Stephen
*/

.rewrite  {
	border: none;
}

.rewrite_left {

}

.rewrite_right {
	width: 25em;
}