@import url('style.css');

/* Dark-style css */
body,.caption{background-color:#121212;color:#ccc;}
#minigal .caption {background-color:transparent!important;}
h1,h2,h3,h4{color:#eee;}
.wrapper#menu,.wrapper#thumbstrip{background:#000;}
#main-menu ul li a:hover,#main-menu ul li span:hover,#main-menu ul li a.active,#main-menu ul li.active a,.button:hover,#controls a:hover{color:#fff;}
#site-title h1 a{color:#fff;}
#search input.pushbutton:hover {background:#ccc;}
#searchextrashow {border-color:#222;background-color:#444;}
div#album-wrap ul li a.album-thumb {border-color:#333;background:#333;}
div#album-wrap ul li a.album-thumb:hover {border-color:#444;background:#444;}
div.paging ul li{border-color:#444;}
div.paging ul li.current,div.paging ul li.current,div.paging ul a:hover {color:#fff;}
#news-cat-list .news-cat-active,a.news-cat-active {color:#fff;}
input,textarea,.disabled_input,select {color:#eee!important;background:#444!important;border-color:#000!important;}
input:hover,input:focus,textarea:hover,textarea:focus{border-color:#222!important;}
input.button:hover,input.button:focus,input[type=submit]:hover,input[type=submit]:focus,input[type=reset]:hover,input[type=reset]:focus,#rating input[type=button]:hover,#rating input[type=button]:focus{background:#111!important;color:#ccc!important;}
form strong,.errorlist li{color:red;}
#admin, #admin_data{background:#222;}
#admin h3:hover {color:#86a1b6;}
.alt-thumbs li div.zoomlink{background:#111;color:#fff;}
div.navigation a.pageLink,#pagedthumbsnav-prev a,#pagedthumbsnav-next a,.jcarousel-next-horizontal,.jcarousel-prev-horizontal {background-color:#222;}
#pagedthumbsnav-prev a:hover,#pagedthumbsnav-next a:hover,.jcarousel-next-horizontal:hover,.jcarousel-prev-horizontal:hover{background-color:#444;}
#pagedthumbsimages img:hover,.jcarousel-list li img:hover,#pagedthumbsnav-active img,.jcarousel-list li .activecarouselimage{border-color:#fff!important;}
#minigal div.navigation a.pageLink {background-color:#222;}
div.caption-container {color:#eee;}
div.photo-index {color:#888;}
div.loader {background-image:url(../images/loading.gif);}
div.slideshow img {border-color:#333;}
ul.thumbs li.selected a.thumb {background:#fff;}
.treeview a.selected,.treeview li.selected a{color:#fff!important;}

.wrapper#menu,
.breadcrumbs,
.wrapper#thumbstrip,
.wrapper#footer,
#sidebar,
div.paging,
div.extra-content,
#comment-wrap,
#comments,
#admin, #admin_data,
#minigal-thumbwrap,
div.controls,div.download,
#imagemetadata td,
.passwordform,
.comment,
div#album-wrap.withsidebar.subalbums ul,
#commentcontent .pagination span,#commentcontent .pagination a
{border-color:#444;}