@import url('style.css');

/* Light-style css */
body,.caption {background-color:#fff;color:#333;}
#minigal .caption {background-color:transparent!important;}
h1,h2,h3,h4{color:#222;}
.wrapper#menu,.wrapper#thumbstrip{background:#eee;}
#main-menu ul li a:hover,#main-menu ul li span:hover,#main-menu ul li a.active,#main-menu ul li.active a,.button:hover,#controls a:hover{color:#000;}
#site-title h1 a{color:#000;}
#search input.pushbutton:hover {background:#ccc;}
#searchextrashow {border-color:#ccc;background-color:#eee;}
div#album-wrap ul li a.album-thumb {border-color:#eee;background:#eee;}
div#album-wrap ul li a.album-thumb:hover {border-color:#ccc;background:#ccc;}
div.paging ul li{border-color:#ccc;}
div.paging ul li.current,div.paging ul li.current,div.paging ul a:hover {color:#000;}
#news-cat-list .news-cat-active,a.news-cat-active {color:#000;}
input,textarea,.disabled_input,select {color:#333!important;background:#eee!important;border-color:#ccc!important;}
input:hover,input:focus,textarea:hover,textarea:focus{border-color:#bbb!important;}
input.button:hover,input.button:focus,input[type=submit]:hover,input[type=submit]:focus,input[type=reset]:hover,input[type=reset]:focus,#rating input[type=button]:hover,#rating input[type=button]:focus{background:#ccc!important;color:#222!important;}
form strong,.errorlist li{color:red;}
#admin, #admin_data{background:#ccc;}
#admin h3:hover {color:#86a1b6;}
.alt-thumbs li div.zoomlink{background:#fff;color:#333;}
div.navigation a.pageLink,#pagedthumbsnav-prev a,#pagedthumbsnav-next a,.jcarousel-next-horizontal,.jcarousel-prev-horizontal {background-color:#ccc;}
#pagedthumbsnav-prev a:hover,#pagedthumbsnav-next a:hover,.jcarousel-next-horizontal:hover,.jcarousel-prev-horizontal:hover{background-color:#eee;}
#pagedthumbsimages img:hover,.jcarousel-list li img:hover,#pagedthumbsnav-active img,.jcarousel-list li .activecarouselimage{border-color:#222!important;}
#minigal div.navigation a.pageLink {background-color:#ccc;}
div.caption-container {color:#333;}
div.photo-index {color:#888;}
div.loader {background-image:url(../images/loading-light.gif);}
div.slideshow img {border-color:#eee;}
ul.thumbs li.selected a.thumb {background:#222;}
.treeview a.selected,.treeview li.selected a{color:#000!important;}

.wrapper#menu,
.breadcrumbs,
.wrapper#thumbstrip,
.wrapper#footer,
#sidebar,
div.paging,
div.extra-content,
#comment-wrap,
#comments,
#admin, #admin_data,
#minigal-thumbwrap,
div.controls,div.download,
#imagemetadata td,
.passwordform,
.comment,
div#album-wrap.withsidebar.subalbums ul,
#commentcontent .pagination span,#commentcontent .pagination a
{border-color:#ccc;}


		