html, body {
	background-color: white;
}
.colour, #passwordform, #admin_tb, #admin_tb_data, .themeSwitcherMenuMain, .themeSwitcherControlLink {
/* fallback */
	background-color: #E4E7D2;
/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E4E7D2), to(#D5DBAF)); 
/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #E4E7D2, #D5DBAF);
/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #E4E7D2, #D5DBAF);
/* IE 10 */
	background: -ms-linear-gradient(top, #E4E7D2, #D5DBAF);
/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #E4E7D2, #D5DBAF);
}
a.menu-active {
	color: #002E5B !important;
}
.thumbtitle p {
	color: #002E5B;
}
form label strong, form p strong {
	color: red;
}
#articlethumb p {
	color: #002E5B;
}
a:link {
	color: #82996F;
}
a:visited {
	color: #82996F;
}
a:active {
	color: #002E5B;
}
a:hover {
	color: #002E5B;
}
.error {
	color: #C33;
}
.errorbox {
	color: #DD6666;
}
.errorbox h2 {
	color: #DD6666;
	background-color: #FDD;
}
