@import url('reset.css');

a img{text-decoration:none!important;}
body{font:11px/18px Georgia,Times,"Times New Roman",serif;color:#222;border-top:10px solid #eee;}
a:link,a:active,a:visited{text-decoration:none;color:#2494DB;}
a:hover{text-decoration:none;color:#000;}

#wrapper{width:800px;margin:0 auto;}
#header{width:800px;clear:both;margin:0 0 5px 0;padding-top:25px;border-bottom:1px solid #ccc;position:relative;z-index:99;}
#breadcrumbs{padding-right:95px;}
#content{width:800px;position:relative;margin-top:25px;}
#main{width:550px;position:absolute;top:0;right:0;padding-bottom:100px;}
#main.switch{right:auto;left:0!important;}
#sidebar{width:200px;position:absolute;top:5px;left:0;padding-bottom:100px;}
#sidebar.switch{left:auto;right:0!important;}
#footer{width:100%;position:fixed;bottom:0;text-align:center;z-index:100;}
#gradient{
	background:-moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
	background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
	height:75px;width:100%;}
#copy{padding:5px 0;font-size:11px;background:#f6f6f6;border-top:1px solid #ccc;position:relative;width:100%;}

#searchform{position:absolute;top:0;right:0;z-index:100;padding:2px 6px 2px 6px;background:#eee;
						-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;
						-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;
						border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#reset_search{position:absolute;top:3px;right:30px;}
#searchfields_icon{position:absolute;top:2px;right:15px;}
#search_input{float:left;font-size:10px;width:175px;padding:3px 3px 3px 20px;border:1px solid #ccc;background:#fff url(../images/search.gif) no-repeat 4px 3px;}
#search_submit{display:none;}
#searchextrashow{clear:both;margin:10px 0;}

h1,h2,h3,h4{font-weight:normal;text-transform:uppercase;line-height:1.1;margin-bottom:10px;}
h1{font-size:16px;}
h1#logo{font-size:36px;line-height:1;margin-bottom:20px;}
h1#logo a{color:#000;text-decoration:none;}
h2{font-size:14px;font-style:italic;}
#breadcrumbs h2{font-size:12px;}
h3{font-size:12px;font-weight:bold;}
h4{font-size:11px;font-weight:strong;text-transform:normal;}
#content.home-page h3{margin-top:15px!important;font-weight:normal;}
#full-image h3 {margin-top:10px;margin-bottom:5px;}
#full-image h3 a{color:#222;}
#main p {margin-bottom:15px;}


input,textarea,select{font:11px arial,helvetica,serif;padding:3px;border:1px solid #ccc;margin-bottom:5px;}
input[type="submit"],input[type="reset"]{cursor:pointer;background:#f6f6f6;}
input[type="checkbox"]{border:0;}

#enter{clear:both;text-align:center;margin-top:20px;padding-top:10px;border-top:1px solid #ccc;padding-bottom:100px;}

#albums-wrap,#thumbs-wrap{text-align:center;}
.album-maxspace,.thumb-maxspace{display:inline-block;text-align:center;margin:10px;vertical-align:top;position:relative;}
.thumb-link{display:table-cell;text-align:center;vertical-align:middle;outline:none;}
.thumb-link img,#full-image img,#random-image img,.latest img{-moz-box-shadow:0 0 9px #666;-webkit-box-shadow:0 0 9px #666;box-shadow:0 0 9px #666;border:1px solid #ccc;}
.thumb-link img:hover,#full-image img:hover,#random-image img:hover,.thumb-link:hover img{-moz-box-shadow:0 0 12px #000;-webkit-box-shadow:0 0 12px #000;box-shadow:0 0 12px #000;border:1px solid #000;}
/* No shadow on galleria */
#galleria img,#galleria img:hover{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:0;}
#slideshowpage{margin-top:30px;}

.album-maxspace,.album-maxspace .thumb-link{
	width:160px; /* width of album thumb (158) plus 2px for image border, default, overriden in inc-header.php based on theme settings */
	height:185px; /* height of album thumb (158) plus 2px for image border plus space for album title, default, overriden in inc-header.php based on theme settings */
}
.thumb-maxspace,.thumb-maxspace .thumb-link{
	width:115px; /* width of thumb (113) plus 2px for image border, default, overriden in inc-header.php based on theme settings */
	height:115px; /* height of thumb (113) plus 2px for image border, default, overriden in inc-header.php based on theme settings */
}
.cblinks{position:absolute;width:100%;text-align:center;display:none;}
.thumb-maxspace:hover .cblinks {display:block;}

span.album-title{display:block;text-align:center;margin-top:2px;text-transform:uppercase;color:#222;}

#pagination{padding:2px 5px;overflow:hidden;margin:25px 0 30px 0;text-align:center;border-top:1px solid #ccc;position:relative;}
#pagination li{display:inline;}
#pagination li.prev{display:block;position:absolute;top:0;left:0;}
#pagination li.next{display:block;position:absolute;top:0;right:0;}
#pagination li.prev a{padding:2px 5px;display:block;}
#pagination li.next a{padding:2px 5px;display:block;}
#pagination .disabledlink{display:none;}
#pagination div.prev{float:left;}
#pagination div.next{float:right;}

#image-wrap{margin-bottom:40px;}
#full-image{text-align:center;margin:10px 0 15px 0;}
.section{margin:15px 0;}

#gall-desc{margin-bottom:20px;}
.image-nav{padding:2px 5px;margin-bottom:15px;text-align:center;position:relative;border-bottom:1px solid #ccc;}
.image-prev {padding:2px 5px;position:absolute;top:0;left:0;background:#f6f6f6;border-right:1px solid #fff;}
.image-next {padding:2px 5px;position:absolute;;top:0;right:0;background:#f6f6f6;border-left:1px solid #fff;}
.image-prev:hover,.image-next:hover{background:#ccc;}
#full-image-details{margin-top:10px;}
.full-image-meta{margin:10px 0 15px 0;}
td.label{padding-right:5px;}
.sidebar-section{margin:5px 0;}
.sidebar-divide{padding-bottom:15px;border-bottom:1px solid #ccc;margin-bottom:15px;}
.taglist,.taglist li{display:inline;margin:5px 0 0 0!important;}

.slideshow-link{clear:both;width:100%;margin-top:20px;}
.slideshow-link a {
	background:#F6F6F6;
	border:1px solid #E5E5E5;
	padding: 5px 10px;
}

#nav ul{margin-left:10px;}
#nav .active,#nav .active a,.menu-active{font-weight:bold;color:#000;}
#nav .active li,#nav .active li a{font-weight:normal;color:#2494DB;}
#nav .active a.active{color:#000;}

.album-nav{position:absolute;}
#album-next{top:5px;right:10px;}
#album-prev{top:5px;left:10px;}

#commentcontent{margin-top:15px;padding-top:10px;}
#comments{margin-bottom:25px;}
#commentcontent h4{margin:20px 0 5px 0;}
#commentform table{width:80%;}
#author, #email, #url {width: 100%;}
#comment {width: 100%; height: 120px; }
#commentform td{padding-right:5px;}
#commentform .inputbox{margin-bottom:5px;width:185px;}
#commentform .pushbutton{margin-top:5px;}
#commentform table {margin-bottom: 15px;}
#commentform td {vertical-align: top; width: 33.33%;}
#commentform td p {margin-bottom:0;}
#commentform p span {color:#aaa9a9;}
.commform-author div {margin-right: 15px;}
.commform-email div {}
.commform-url p {margin-left: 15px !important;}
.commform-url div {margin-left: 15px;}
#commentcontent + a{display:block;float:right;margin:-20px 0 0 0;font-size:12px;}
#captcha img,#captcha input {float:left;margin-right:10px;}
#captcha {margin-top:5px;}
#commentform .submit input{width:175px;}
.errorbox{margin-bottom:15px;}
.errorbox h2{font-size:12px;font-weight:bold;color:red;}
/* Comment Pagination (New) */
#commentcontent .Pagination{margin:20px 0;}
#commentcontent .pagination span,#commentcontent .pagination a{
	display:inline-block;margin-right:2px;
	border-bottom:1px solid;padding:2px 5px;
	padding: 1px 5px;
	text-decoration:none;}

#random-image{float:right;width:200px;margin:0 0 25px 25px;}

#gallery-archive{width:275px;float:left;}
#news-archive{float:right;width:200px;}
ul.month li{padding-right:5px;display:inline;}
li.year{margin-bottom:7px;}
#tag_cloud {margin-top:25px;}
#tag_cloud li{display:inline;}


#mailform{margin:15px 0;}
#mailform td,#password td{padding-right:10px;vertical-align:top;}
#mailform input[type="text"]{width:225px;}




#social{position:absolute;bottom:10px;right:0;}
.f, .t, .di {width: 16px; height: 15px; position: absolute;}
.f {right:42px; background: url(../images/social.png) 0 0 no-repeat;}
.t {right:21px; background: url(../images/social.png) -16px 0 no-repeat;}
.di {right:0; background: url(../images/social.png) -32px 0 no-repeat;}
.f:hover {background-position: 0 -15px;}
.t:hover {background-position: -16px -15px;}
.di:hover {background-position: -32px -15px;}

.news-truncate{clear:both;margin-bottom:10px;overflow:hidden;}
.newsarticlecredit{margin:-5px 0 5px 0;}
.readmorelink{clear:both;margin-top:-10px;}
#post h1{font-weight:bold;margin-bottom:15px;}
.extra-content {
	background:#F6F6F6;
	border: 1px solid #E5E5E5;
	padding: 10px;
	margin-bottom:10px;
}

.zenpage_wrapper_right img,.zenpage_wrapper_left img,.zenpage_thumb_right,.zenpage_thumb_left,.zenpage_customthumb_right,.zenpage_customthumb_left,.zenpage_sizedimage_left,.zenpage_sizedimage_right,.zenpage_sizedimage,.zenpage_customimage,.zenpage_customimage_left,.zenpage_customimage_right,.zenpage_thumb,.zenpage_customthumb{-moz-box-shadow:0 0 9px #666;-webkit-box-shadow:0 0 9px #666;box-shadow:0 0 9px #666;border:1px solid #ccc;}

.zenpage_sizedimage,.zenpage_customimage,.zenpage_thumb,.zenpage_customthumb{margin:5px auto;clear:both;}
.zenpage_wrapper_left img,.zenpage_thumb_left,.zenpage_customthumb_left,.zenpage_sizedimage_left,.zenpage_customimage_left{margin:0 10px 5px 0;}
.zenpage_wrapper_right img,.zenpage_thumb_right,.zenpage_customthumb_right,.zenpage_sizedimage_right,.zenpage_customimage_right{margin:0 0 5px 10px;}

#post ul, #post ol{margin:5px 0 5px 40px;}
#post ul{list-style-type:disc;}
#post ul ul{list-style-type:circle;}
#post ol{list-style-type:decimal;}
#post ol ol{list-style-type:lower-alpha;}
#post ul li, #post ol li{}
#post strong{font-weight:bold;}
#post em{font-style:italic;}
#post code{font-family:courier;}
#post blockquote{font-style:italic;background:#f6f6f6;padding:5px;margin:10px 0;}
#post blockquote p{font-style:italic;background:#f9f9f9;padding:5px 10px;margin:0;}

.latest{margin-top:15px;padding-top:20px;border-top:1px solid #ccc;}
.latest li{margin-bottom:10px;}
.latest h3{margin-bottom:0;}
.latest .latestnews-date{font-style:italic;}
.latest .readmorelink{display:none;}

#admin, #admin_data {z-index:101;position:absolute;top:15px;right:0;text-align:right;padding:1px 10px;background:#fff;}
#admin_data {top:35px;}
#admin h3{font-size:11px;}

ul.flags{z-index:99;background:#fff;text-align:center;position:absolute;top:25px;left:0;width:37px;padding:10px;border:1px solid #ccc;border-left:0;-moz-box-shadow:0 0 9px #666;-webkit-box-shadow:0 0 9px #666;box-shadow:0 0 9px #666;}
.flags li{display:block!important;padding:5px;}

#pagedthumbsnav{z-index:99;background:#fff;text-align:center;position:absolute;top:60px;right:0;width:85px;border:1px solid #ccc;border-right:0;padding:10px;-moz-box-shadow:0 0 9px #666;-webkit-box-shadow:0 0 9px #666;box-shadow:0 0 9px #666;}
#pagedthumbsnav-prevdisabled,#pagedthumbsnav-nextdisabled{display:none;}
#pagedthumbsnav img {display:block;margin:5px auto;border:1px solid #transparent;}
#pagedthumbsnav-active img{-moz-box-shadow:0 0 12px #000;-webkit-box-shadow:0 0 12px #000;box-shadow:0 0 12px #000;border:1px solid #000;}

.zen-logo, .zen-logo a {
	text-decoration: none;
}
.zen-logo img {
	vertical-align: sub;
}

#loginform .show_checkbox {
	left: -55px !important;
}